@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

h1{color: aqua;}
body{
    font-family: "Mulish", sans-serif;

font-size: 20px;
line-height: 1.5;
background-color: blueviolet;
body
}

img{

    width: 500px;

}